<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Welcome</title>
</head>
<script>
    // Function to toggle dark mode
    function toggleTheme() {
        document.body.classList.toggle('dark-mode');
        localStorage.setItem('theme', document.body.classList.contains('dark-mode') ? 'dark' : 'light');
    }

    // Apply the saved theme on page load
    window.onload = () => {
        if (localStorage.getItem('theme') === 'dark') {
            document.body.classList.add('dark-mode');
        }
    };
</script>

<body>
    <div id="topnav">
            <!-- Breadcrumb navigation -->
            <nav id="breadcrumbNav" aria-label="Breadcrumb">
                <ol>
                    <% breadcrumbPath.forEach(function(crumb, index) { %>
                    <li>
                        <a href="<%= crumb.href %>"><%= crumb.text %></a>
                        <% if (index < breadcrumbPath.length - 1) { %>
                        <span> | </span>
                        <% } %>
                    </li>
                    <% }); %>
                </ol>
            </nav>
            <!-- Time -->
            <div id="timeDisplay">
                Cloud Time: <%= moment(timeData.cloudTime).format('MM/DD/YYYY HH:mm:ss') %> | Device Time: <%= moment(timeData.localTime).format('MM/DD/YYYY HH:mm:ss') %>
            </div>
            <!-- light/dark toggle link -->
            <div class="theme-toggle">
                <a href="#" onclick="toggleTheme(); return false;" class="toggle-theme-link">Toggle Dark/Light Mode</a>
            </div>
        </div>
    <div id="mainContent">
        <h1>Welcome to Our Time Display and Data Entry App</h1>
        Results coming soon
    </div>
</body>

</html>